.hero-NoAcc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.heroImg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    background-color: var(--color40);
    padding: 10px;
    height: 100%;
    width: 50%;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.hero-info h1 {
    text-align: center;
}

.hero-info button {
    padding: 0.7rem 1rem;
    color: var(--color100);
    font: var(--h4);
    font-family: var(--ff3);
    background-color: var(--color30);
    border: none;
    border-radius: 20px;
    transition: background-color 1s;
}

.hero-info button:hover {
    background-color: var(--color40);
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    color: var(--color10);
}

.img-container:nth-child(even) {
    flex-direction: row-reverse;
}

.img-container img {
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: var(--color100);
    border-radius: 50%;
}

.Img-info h3 {
    font: var(--h2);
}

.Img-info p {
    line-height: 15px;
}

.Img-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



@media screen and (max-width: 1024px) {
    .hero-info h1 {
        font: var(--h2);
    }

    .Img-info h3 {
        font: var(--h3);
    }


    .hero-info button {
        font: var(--p);
    }


}

@media screen and (max-width: 600px) {
    .hero-info h1 {
        font: var(--h2);
    }

    .img-container img {
        width: 80px;
        height: 80px;
    }

    .Img-info h3 {
        font: var(--h4);
    }

    .hero-info button {
        font: var(--p);
        padding: 0.5rem 0.7rem;
    }


}