.addUser {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addUserForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--color80);
    box-shadow: var(--boxShadow);
    width: 100%;
}



@media screen and (max-width: 768px) {

    .addUser {
        width: 90%;
    }


}