.updateUserContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    background-color: var(--color50);
    padding: 1rem;
    border-radius: 0px 0px 15px 15px;
}

.userInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
    padding: 1rem;
    color: var(--color30);
    background-color: var(--color100);
    border-radius: 20px;

}



.userInfo h3,
.userInfo p {
    font-family: var(--ff3);
}

.updateForm {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.updateForm label {
    width: 60%;
}


@media screen and (max-width: 768px) {

    .updateUserContainer {
        width: 90%;
    }

    .updateForm label {
        width: 85%;
    }

}

@media screen and (max-width: 480px) {
    .userInfo {
        display: none;
    }

    .updateForm {
        width: 100%;
    }
}