.delivery-history {
    width: 100%;
    margin-top: 50px;
}

.delivery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-Delivery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    margin: 10px;
    background-color: var(--color40);
    position: relative;
    height: 400px;
    width: 300px;
    border-radius: 15px;
    box-shadow: var(--boxShadow);
}

.foodImgs {
    width: 100%;
    height: 150px;
    background-color: var(--color90);
    border-radius: 10px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 15px;
    width: 100%;
    padding: 10px;
}

.card-Delivery h3 {
    align-self: center;
}

.btn-card {
    font: var(--p);
    padding: 0.5rem;
    background-color: var(--color90);
    border: none;
    border-radius: 3px;
}

.card-status {
    clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);
    width: fit-content;
    background-color: var(--color30);
    padding: 0.5rem 2rem 0.5rem 1rem;
    position: absolute;
    bottom: 360px;
    left: 185px;
    border-radius: 5px 0 0 5px;
    color: var(--color80);
    box-shadow: var(--boxShadow);
}



@media screen and (max-width: 1024px) {}

@media screen and (max-width: 600px) {
    .delivery {
        flex-direction: column;
    }

    .card-status {
        left: 215px;
        bottom: 340px;
    }

    .card-Delivery {
        height: 380px;
        width: 330px;
    }
}