/*reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables */
:root {
    --color10: hsl(31, 80%, 10%);
    --color30: hsl(31, 81%, 30%);
    --color40: hsl(40, 64%, 57%);
    --color50: hsl(35, 70%, 75%);
    --color80: hsl(32, 90%, 85%);
    --color90: hsl(31, 80%, 90%);
    --color95: #f9f9f9;
    --hover95: #f1f1f1;
    --color100: hsl(31, 80%, 100%);
    --red: #e60000;
    --redHover: #c40000;
    --boxShadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --ff: "Noto Sans JP", serif;
    --ff2: "Fira Sans", serif;
    --ff3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --p: 1rem/1.5rem var(--ff);
    --h1: 600 3rem/1.2em var(--ff2);
    --h2: 600 2rem/1.2em var(--ff2);
    --h3: 500 1.5rem/1.2rem var(--ff);
    --h4: 450 1.3rem/1.2rem var(--ff);
    --h5: 400 1.1rem/1.2rem var(--ff);
}

/* flag shapes */
/* clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%); */

/* global styles */

html {
    scroll-behavior: smooth;
}

body {
    text-wrap: balance;
    font: var(--p);
    background: var(--color90);
    color: var(--color10);
}

.icons {
    color: var(--color10);
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
}

h3 {
    font: var(--h3);
}

h4 {
    font: var(--h4);
}

p,
button,
legend {
    font: var(--p);
}


fieldset {
    border: 2px solid var(--color10);
}

a {
    text-decoration: none;
    color: var(--color10);
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.noInfo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.loading {
    font: var(--h2);
    animation: 2s rotate infinite ease-in-out;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }

}