.signUp-Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding-top: 2rem;
}

.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: var(--color50);
    box-shadow: var(--boxShadow);

}

.signupForm label {
    font: var(--h4);
    width: 60%;
}

.signUpInput {
    padding: 0.5rem 1rem;
    width: 100%;
    font: var(--p);
    border: none;
    border-bottom: 3px dashed var(--color10);
    outline: none;
}

.displayBadInfo {
    display: none;
}

#keq {
    color: red;
}

.signUpInput:focus {
    border-bottom: 3px solid var(--color10);
}


@media screen and (max-width: 1024px) {
    .signupForm {
        width: 70%;
    }

    .signupForm label {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .signupForm {
        width: 90%;
    }

    .signupForm label {
        width: 85%;
    }
}