.about-container {
    width: 100%;
    height: 80vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1.2rem;
    gap: 10px;
    width: 60%;
    background-color: var(--color100);
    border-radius: 10px;
}

.aboutHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 1.5rem 2rem;
    background-color: var(--color30);
    color: var(--color100);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section {
    width: 100%;
}

@media screen and (max-width: 1024px) {

    .about-section,
    .aboutHeader {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {

    .about-section,
    .aboutHeader {
        width: 90%;
    }

}